/* RESET */

    /* Création de variables */
    :root{
      --couleur-noir: #141414;
      --couleur-jaune: #FFD123;
  }
    /* Selectionner toutes les balises (tag) HTML */
    *{
        /* Supprimer toutes les marges (ext.int.) */
        margin: 0;
        padding: 0;

        /* Integrer border et padding dans la taille des balises */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;

    }

    html{
        /* Passer d'une base 16px à une base 10px */
        font-size: 62.5%;
        height: 100vh;
        width: 100vw;
        scroll-behavior: smooth;
    }

    body{
        text-align: center;
        color: black;
        background-color: white;
    }

    img{
        max-width: 100%;
    }

    a{
        color: inherit;
        text-decoration: none;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    p{
        font-size: 1.3rem;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    /* Toutes les balises a sauf celles ayant [target="_blank"] */
    a:not([target="_blank"]){
        text-decoration: none;
    }

    h1, h2{
        font-family: sans-serif;
    }

    .maxWidth{
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
    }

/* MAIN */

body{
  background-color: #000000;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
   
.background{
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.background h1{
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'recoletabold';
  text-align: center;
  font-size: 6rem;
  padding: 0 5rem 0 5rem;
  z-index: 1;
}

.backgroundIndex h1{
  color: white;
}

.backgroundXp h1{
  position: fixed;
}

.backgroundXp h1{
  color: var(--couleur-noir);
  animation: apparitionH1 0.5s ease;
}

@keyframes apparitionH1 {
  from {
      opacity: 0;
  }

  50%{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.circle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 200px;
  background-color: #FFD123;
  border-radius: 50%;
  z-index: 0;
}

.circleIndex{
  animation: zoom 2s ease infinite;
}

@keyframes zoom {
  from {
      height: 200px;
      width: 200px;
  }

  50%{
    height: 210px;
    width: 210px;
  }

  to {
    height: 200px;
    width: 200px;
  }
}

.circleXp{
  animation: extension 1s ease-in-out forwards;
}

@keyframes extension {
  from {
      height: 200px;
      width: 200px;
  }

  to {
    height: 2000px;
    width: 2000px;
  }
}

.button {
  background-color: transparent;
  border: solid 2px;
  padding: 15px 32px;
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
}

.backgroundIndex .button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.contentJauges .button{
  position: relative;
  color: var(--couleur-noir);
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.backgroundXp p{
  position: fixed;
}

p{
  width: 45%;
  font-size: 1.9rem;
  font-weight: 300;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--couleur-noir);
  padding-top: 50px;
  animation: apparitionP 2.5s ease;
}

@keyframes apparitionP {
  from {
      opacity: 0;
  }

  50%{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

span{
  font-weight: 500;
  font-style: italic;
}

.fa-angle-down{
    z-index: 3;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--couleur-noir);
    text-align: center;
    font-size: 4rem;
    animation: move 1s ease-in-out infinite;
}
  
@keyframes move {
    0%,
    100% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(15px);
    }
}








/* JAUGES */



/* FICHE BLANCHE */
  
#whiteBackground{
  z-index: 100;
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 100px 200px 100px 200px;
}

h2{
  font-family: 'recoletabold';
  color: var(--couleur-noir);
  text-align: center;
  font-size: 6rem;
  padding: 0 5rem 2rem 5rem;
}

#whiteBackground p{
  position: relative;
  padding: 0;
}

.contentJauges{
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.jauges2{
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 75px;
}




/* CODE JULIEN JAUGES */

ul{
  list-style: none;
  padding-bottom: 5px;
}

.slider{
  display: inline-block;
  position: relative;
  height: 12rem;
}

.slider h2{
  text-transform: capitalize;
}

.pointList{
  margin: 0;
  width: 30rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.pointList li{
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.pointList li::before, .pointList li::after{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
}

.pointList li::before, .pointList li::after{
  content: '';
  display: block;
}

.pointList li.active::before{
  background-color: red;
  transition: all .3s;
}

#joy .pointList li.active::before{
  background-color: #F3CA30;
}

#excitation .pointList li.active::before{
  background-color: #FFEB00;
}

#fun .pointList li.active::before{
  background-color: #FF7600;
}

#anger .pointList li.active::before{
  background-color: #D60000;
}

#desire .pointList li.active::before{
  background-color: #D90074;
}

#uncomfortable .pointList li.active::before{
  background-color: #7C0056;
}

#boredom .pointList li.active::before{
  background-color: #BBB5FF;
}

#serenity .pointList li.active::before{
  background-color: #ADE3FF;
}

#nostalgia .pointList li.active::before{
  background-color: #538FFF;
}

#fear .pointList li.active::before{
  background-color: #0070AA;
}

#anxiety .pointList li.active::before{
  background-color: #009298;
}

#sadness .pointList li.active::before{
  background-color: #0007B1;
}

#satisfaction .pointList li.active::before{
  background-color: #ACE000;
}

#disgust .pointList li.active::before{
  background-color: #516F00;
}

.pointList li::before{
  z-index: 1;
}

.pointList li::after{
  background-color: black;
  z-index: 0;
}

.range{
  position: relative;
}

.range li{
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background-color: black;
}

.range .emotionRange{
  z-index: 1;
  width: 0%;
  transition: all .3s;
}

#joy .range .emotionRange{
  background-color: #F3CA30
}

#excitation .range .emotionRange{
  background-color: #FFEB00;
}

#fun .range .emotionRange{
  background-color: #FF7600;
}

#anger .range .emotionRange{
  background-color: #D60000;
}

#desire .range .emotionRange{
  background-color: #D90074;
}

#uncomfortable .range .emotionRange{
  background-color: #7C0056;
}

#boredom .range .emotionRange{
  background-color: #BBB5FF;
}

#serenity .range .emotionRange{
  background-color: #ADE3FF;
}

#nostalgia .range .emotionRange{
  background-color: #538FFF;
}

#fear .range .emotionRange{
  background-color: #0070AA;
}

#anxiety .range .emotionRange{
  background-color: #009298;
}

#sadness .range .emotionRange{
  background-color: #0007B1;
}

#satisfaction .range .emotionRange{
  background-color: #ACE000;
}

#disgust .range .emotionRange{
  background-color: #516F00;
}

.contentJauges h2{
  padding: 0;
  margin-bottom: 7px;
  font-size: 3rem;
}






/* Resultats */
.backgroundResults {
  background-color: white;
  overflow: hidden;
}

.backgroundResults img {
  animation: emotions 1s ease-in-out forwards;
}

#joyImg{
  position: absolute;
  top: -40%;
  left: -45%;
  height: 100%;
  width: 100%;
  z-index: 110;
}

#excitationImg{
  position: absolute;
  top: 10%;
  left: 15%;
  height: 100%;
  width: 100%;
  z-index: 120;
}

#funImg{
  position: absolute;
  top: -43%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#angerImg{
  position: absolute;
  top: 50%;
  left: 45%;
  height: 100%;
  width: 100%;
  z-index: 30;
}

#desireImg{
  position: absolute;
  top: 10%;
  left: -13%;
  height: 100%;
  width: 100%;
  z-index: 50;
}

#uncomfortableImg{
  position: absolute;
  top: -50%;
  left: -27%;
  height: 100%;
  width: 100%;
  z-index: 40;
}

#boredomImg{
  position: absolute;
  top: 4%;
  left: -28%;
  height: 100%;
  width: 100%;
  z-index: 40;
}

#serenityImg{
  position: absolute;
  top: -10%;
  left: 10%;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#nostalgiaImg{
  position: absolute;
  top: 35%;
  left: -42%;
  height: 100%;
  width: 100%;
  z-index: 40;
}

#fearImg{
  position: absolute;
  top: 35%;
  left: 20%;
  height: 100%;
  width: 100%;
  z-index: 30;
}

#anxietyImg{
  position: absolute;
  top: -40%;
  left: 35%;
  height: 100%;
  width: 100%;
  z-index: 80;
}

#sadnessImg{
  position: absolute;
  top: -15%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 80;
}

#satisfactionImg{
  position: absolute;
  top: 2%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 80;
}

#disgustImg{
  position: absolute;
  top: 45%;
  left: -20%;
  height: 100%;
  width: 100%;
  z-index: 30;
}